body {
    background-color:#0038B2;
    color: white;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #0059ff;
    color: black;
    font-family: "Raleway", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 70%;
}

img {
    max-width:80%;
}